html,
body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Tahoma, Arial;
}

h1,h2,h3,h4{
    color:rgb(29, 137, 255);
}

html {
    font-size: 14px;
}

.t1{
    font-weight: bold;
    text-decoration: underline;
}

.t3{
    font-weight: 100;
}

.clearfix {
    clear: both;
}

.pointer {
    cursor: pointer;
}

.fleft {
    float: left;
}

.nselect {
    width: 200px;
}

button {
    border: 0;
    outline: no;
}

pre {
    padding: 0;
}

span {
    padding: 0;
    font-size: inherit;
}

.rect {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    margin: 10px;
}

@media screen and (max-width: 760px) {
    .content-side {
        margin-top: 10px;
    }
    .section {
        margin-bottom: 10px;
    }
    .sec-title{
        font-size: 13px;
        display: none;
    }
    .top-logo{
        display: none;
    }
    .fir-title{
        display: block;
    }
}

@media screen and (min-width: 761px) {
    .content-side {
        margin-top: 50px;
    }
    .section {
        margin-bottom: 30px;
    }
    .fir-title{
        display: none;
    }
}

.head-side {
    overflow: hidden;
    width: 100%;
    padding: 50px 30px;
    color: #fff;
    background: #4285f4 url(../assets/bg.jpg) repeat-x center -65px;
    background-position: center 100%;
}

.head-side h1 {
    font-size: 3.5rem;
}

.head-side h4 {
    font-weight: 300;
}

.head-side button {
    cursor: pointer;
    width: 130px;
    height: 36px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.info {
    border-color: rgb(29, 137, 255);
    background-color: rgb(250, 250, 250);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    border-left: 3px solid rgb(29, 137, 255);
}

.blur {
    color: rgb(29, 137, 255);
}

pre code {
    font-size: 13px!important;
    padding: 0 20px 20px 20px!important;
}

.ani0 {
    border-radius: 0%;
    transform: translate3d(0, 0, 0) rotateY(0) scale(1);
    -webkit-transform: translate3d(0, 0, 0) rotateY(0) scale(1);
    -ms-transform: translate3d(0, 0, 0) rotateY(0) scale(1);
}

.ani1 {
    background-color: #ff0000 !important;
    border-radius: 100%;
    transform: translate3d(200px, 0, 0) rotateY(720deg) scale(1.5);
    -webkit-transform: translate3d(200px, 0, 0) rotateY(720deg) scale(1.5);
    -ms-transform: translate3d(200px, 0, 0) rotateY(720deg) scale(1.5);
}

.nav-item {
    margin-bottom: 5px;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    width: 140px;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    color: #fff;
    cursor: default;
    background-color: #0275d8
}

.sec-con{
    clear: both;
    margin-bottom: 10px;
}

.sec-sub-con{
    position: relative;
    float: left;
}

.btns{
    outline: 0;
    font-weight: 100 !important;
}

.dashed-hr{
    margin: 15px 0;
    border-width: 0;
    border-style: dashed;
    border-bottom-width: 1px;
    color:rgb(29, 137, 255);
}

.rect-blue{
    background-color: #1d89ff;
}

.white{
    color:white;
}

pre{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border: 0;
}

.cons{
    height: 120px;
    width: 100%;
}

.bottom{
    margin-top: 40px;
    height: 50px;
    background: #eee;
    color:#bbb;
    text-align: center;
    font-size: 11px;
    line-height: 50px;
    clear: both;
}

.top-logo{
    background: url(../assets/logos.png) no-repeat;
    background-size: contain;
    background-position: center center;
    height: 163px;
    width:400px;
    margin: 0 auto;
}